# General config
SECRET_KEY=django-insecure-!wo*h78gl1t3x=exnf2e1djx0f7lg!a2ax1p(hv=dd%8(g3db
DEBUG=True

# Database config
DBNAME=your-db-name
DBUSER=your-db-username
DBPASSWORD=your-db-password
DBHOST=your-db-host
DBPORT=5432

# Email config
EMAIL_HOST=your-email-host
EMAIL_PORT=your-email-port
EMAIL_HOST_PASSWORD=your-email-host-password
EMAIL_HOST_USER=your-email-host-user
EMAIL_USE_TLS=True
