[tool.poetry]
name = "dj_sinp_nomenclatures"
version = "0.2.1"
description = "Django app to manage french SINP nomenclatures standards"
authors = ["dbChiro project <project@dbchiro.org>"]
license = "AGPLv3"
keywords = ["SINP","Nomenclatures","Django","France","dbChiroWeb"]
readme = "README.rst"
homepage = "https://github.com/dbchiro/DjangoSinpNomenclature"
repository = "https://github.com/dbchiro/DjangoSinpNomenclature"
include = [
    "LICENSE",
]
packages = [
    { include = "sinp_nomenclatures" },
]


[tool.poetry.dependencies]
python = ">=3.8,<4.0"
Django = "^4.1.3"
django-rest-framework = "^0.1.0"

[tool.poetry.dev-dependencies]
black = {version = "^21.6b0", allow-prereleases = true}
Sphinx = "^4.1.1"
sphinx-rtd-theme = "^0.5.2"
rstcheck = "^3.3.1"
psycopg2-binary = "^2.9.1"
python-decouple = "^3.4"
drf-yasg = "^1.20.0"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
